PORT=5001
API_HOST=127.0.0.1
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
API_DELAY_MS=0
TRUST_PROXY_AUTH=false
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=spff
PGUSER=spff_app
PGPASSWORD=replace-with-local-password
SPFF_SITE_ID=greenhouse-01
DEVICE_STALE_AFTER_SECONDS=90
DEVICE_OFFLINE_AFTER_SECONDS=300
TELEMETRY_STALE_AFTER_SECONDS=120
TELEMETRY_OFFLINE_AFTER_SECONDS=600
