:root {
  font-family: 'Inter', sans-serif;
  color: #151817;
  background: #fbfcfb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-width: 320px;
  background: #fbfcfb;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

body,
button,
select {
  font-family: inherit;
}

button,
select {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgb(36 174 115 / 22%);
}
